.tips-list {
    overflow: hidden;
    resize:horizontal;
    padding: 1rem;
    padding-inline-start: 2rem;
    border-radius: 4px;
    border: 2px solid salmon;

    li {
        margin-block: .5rem;
    }
}

html{
    scrollbar-gutter: stable;
}

// :root {
//     color-scheme: dark light;
// }

// @media (prefers-color-scheme: dark){
//     * {
//         color: red;
//     }
// }

.maxmin, .shorthands {
    padding: .25rem;
    border-radius: 4px;
}

.maxmin{
    background-color: honeydew;
    border: 1px solid darkturquoise;
    width: fit-content;
    // width: max-content;
    // width: min-content;
    // word-break: break-all;
}

.shorthands{
    background-color: mistyrose;
    border: 1px solid lightcoral;
    background-image: radial-gradient( white 25%, transparent 25%);
    background-size: 8px 8px;
}

.shorthands.green{
    background-color: chartreuse;
    border: 2px dashed darkolivegreen;
}

.accent > * {
    color: red;
    accent-color: currentColor;
}

.tips-list li {
    // list-style-type: "💚";
    &::marker {
        content: '💚';
        font-size: .15em;
        letter-spacing: 1ch;
        // line-height: .5em;
    }
}
